html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* .clients_button {
  border-style: none;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --brand-color: #212121;
  --color-black: black;
  --color-blu: #2196f3;
  --color-wight: #ffffff;
  --color-gray: #757575;
  --background-color: #2f303a;
  --color-footer-contacts: rgba(255, 255, 255, 0.6);
  --button-portfolio-background-color: #3e3d41;
  --item-teem-shadow: #e5e5e5;
  --header_line_bottom: #ececec;
  --icon: #afb1b8;
  --skills_button: #f5f4fa;
  --footer_back_icon: rgba(255, 255, 255, 0.1);
  --time_animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}

.header_background {
  border-bottom: 1px solid var(--header_line_bottom);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-blu);
  padding: 24px 0px 25px 0px;
  margin-right: 93px;
}

.row_pages,
.row_contacts,
.row_logo_pages,
.row_header,
.item_row_contacts,
.header_icon_row,
.clients_row {
  display: flex;
}

.item_row_pages {
  display: block;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  padding: 32px 0px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--time_animation);
}

.button_portfolio_all:hover,
.item_row_pages:hover {
  cursor: pointer;
}

.indent_item_pages {
  margin-right: 50px;
  position: relative;
}

.item_row_contacts {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-gray);
  padding: 32px 0px;
  text-align: center;

  transition: color var(--time_animation);
}

.item_row_contacts svg {
  transition: fill var(--time_animation);
}

.header_icon {
  margin-right: 10px;
  vertical-align: middle;
}

.row_contacts {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  /* float: right; */
}

.blu {
  color: var(--color-blu);
}
.black {
  color: var(--color-black);
}
.wight {
  color: var(--color-wight);
}

.item_row_pages:hover,
.item_row_pages:focus {
  color: var(--color-blu);
  cursor: pointer;
}

.item_row_contacts:hover,
.item_row_contacts:focus {
  color: var(--color-blu);
  cursor: pointer;
}
.item_row_contacts:hover svg,
.item_row_contacts:focus svg {
  fill: var(--color-blu);
  cursor: pointer;
}

.item_row_pages:hover::after,
.item_row_pages:focus::after {
  opacity: 1;
}

.linc_current {
  color: var(--color-blu);
}

.item_row_pages:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blu);
  position: absolute;
  bottom: -1px;
  opacity: 0;

  /* transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--time_animation); */
  transition: opacity var(--time_animation);
}

.linc_current:after {
  opacity: 1;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blu);
  position: absolute;
  bottom: -1px;
}

.row_header {
  justify-content: space-between;
}

.mail {
  margin-right: 30px;
}

.without_marker {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.section_order {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/big\ \(1\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.container_order {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title_order_filter {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  color: var(--color-wight);
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 60px;
  letter-spacing: 0.06em;
}

.button_order {
  font-family: inherit;
  background-color: var(--color-blu);
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--color-wight);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title_hidden {
  font-weight: 700;
  letter-spacing: 3%;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 90px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section_skills {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skills_row {
  display: flex;
}

.skills_blocks {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.skills_button {
  border: none;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--skills_button);
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_icon {
  margin: 0;
}
.section_affairs {
  padding-bottom: 94px;
}

.affairs_row {
  display: flex;
  justify-content: space-between;
}

.affairs_foto {
  position: relative;
}

.affairs_text {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-wight);
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  /* padding: 27px 0px; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.title_skills {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-style: bold;
  letter-spacing: 0.03em;
  line-height: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.title_affairs {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 0px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.section_team {
  background-color: var(--skills_button);
  padding-top: 94px;
  padding-bottom: 94px;
}

.title_team {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.team_row {
  display: flex;
  justify-content: space-between;
}
.title_names {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.item_team {
  /* display: block; */
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--color-wight);
  /* margin-right: 30px; */
}

.team_text {
  padding: 30px 32px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-gray);
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.profession-team {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team_button_item {
  width: 44px;
  height: 44px;
  background-color: var(--color-wight);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;

  transition: background-color var(--time_animation);
}

.team_button_item:focus svg,
.team_button_item:hover svg {
  fill: var(--color-wight);
  cursor: pointer;
}
.team_button_item:focus,
.team_button_item:hover {
  background-color: var(--color-blu);
  cursor: pointer;
}

.team_icon {
  fill: var(--icon);

  transition: fill var(--time_animation);
}

.clients_section {
  padding: 94px 0px;
}
.team_icon_row {
  display: flex;
  justify-content: space-between;
}

.clients_row {
  justify-content: space-between;
}
.clients_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients_button {
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  outline-width: 1px;
  border-color: var(--icon);
  border-radius: 4px;
  border-width: 1px;

  transition: border-color var(--time_animation);
}

.icon_clients {
  fill: var(--icon);
  bottom: 15px;

  transition: fill var(--time_animation);
}

.clients_button:hover,
.clients_button:focus,
.clients_button:hover svg,
.clients_button:focus svg {
  cursor: pointer;
  border-color: var(--color-blu);
  fill: var(--color-blu);
}

/* ФУТЕР */

.footer_background {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer_addresses {
  margin-right: 70px;
  width: 231px;
}
.footer_logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-blu);
  margin-bottom: 20px;
}

.footer_address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--color-wight);
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 9px;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--color-footer-contacts);
  text-decoration: none;
  line-height: 24px;
  transition: color var(--time_animation);
}

.footer-contacts:focus {
  color: var(--color-blu);
}

.footer_mail {
  margin-bottom: 9px;
}
.footer_icons {
  width: 206px;
  margin-right: 93px;
}
.footer_title {
  display: block;
  color: var(--color-wight);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer_row,
.footer_icon_row {
  display: flex;
}
.footer_row {
  align-items: baseline;
}
.footer_icon_row {
  justify-content: space-between;
}

.footer_button_item {
  width: 44px;
  height: 44px;
  border: none;
  background-color: var(--footer_back_icon);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;

  transition: background-color var(--time_animation);
}
.footer_button_item:focus svg,
.footer_button_item:hover svg {
  fill: var(--color-wight);
  cursor: pointer;
}
.footer_button_item:focus,
.footer_button_item:hover {
  background-color: var(--color-blu);
  cursor: pointer;
}
.footer_icon {
  fill: var(--color-wight);
  margin: 0;
}

.footer_subscription_row {
  display: flex;
  justify-content: space-between;
  width: 570px;
}
.footer_subscription {
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  padding: 15px 0 15px 16px;
}

.button_subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--color-blu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-wight);
}
.icon_subscription {
  margin-left: 10px;
}

/* ПОРТФОЛИО */

.title_portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.text_filter_indent {
  padding: 20px 24px;
}

.filter {
  font-weight: 400px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

.container_filter {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section_filter {
  padding-top: 72px;
  padding-bottom: 94px;
}
.container_footer {
  width: 1200px;
  padding-left: 15px;
  padding-top: 94px;
  padding-right: 15px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: var(--background-color);
}

.button_portfolio_all {
  display: inline-block;
  font-family: inherit;
  padding: 6px 22px 6px 22px;
  background-color: var(--color-blu);
  color: var(--color-wight);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_portfolio {
  display: inline-block;
  font-family: inherit;
  padding: 6px 22px 6px 22px;
  background-color: var(--skills_button);
  color: var(--brand-color);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0px;

  transition: color var(--time_animation);
  transition: background-color var(--time_animation);
  transition: box-shadow var(--time_animation);
}

.button_portfolio:focus,
.button_portfolio:hover {
  background-color: var(--color-blu);
  color: var(--color-wight);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item_filter {
  margin-right: 8px;
}

.menu_filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.flex_works {
  display: flex;
  flex-wrap: wrap;
}
.withaut_underline {
  text-decoration: none;
}
.item_works {
  border: 1px solid var(--item-teem-shadow);
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: none;

  transition: box-shadow var(--time_animation);
}

.item_works:nth-child(3n) {
  margin-right: 0px;
}
.item_works:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.item_works:hover,
.item_works:focus-within {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item_works:hover p,
.item_works:focus-within p {
  opacity: 1;
  transform: translateY(0%);
}

.item_text_overlay {
  position: absolute;
  transform: translateY(100%);
  top: 0px;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-wight);
  background: rgba(33, 150, 243, 0.9);

  transition: transform var(--time_animation);
}

.hidden_overlay {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--color-wight);
}

.close_modal {
  position: absolute;
  left: 93%;
  top: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-wight);
  padding: 0;
  margin-top: 8px;
}

.close_modal:hover,
.close_modal:focus,
.close_modal:hover svg,
.close_modal:focus svg {
  cursor: pointer;
  fill: var(--color-blu);
}

.close_modal_icon {
  fill: var(--color-black);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-position: 50% 50%;

  transition: fill var(--time_animation);
}

.form-block {
  padding: 40px;
}
.form_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 12px;
}

.form_column {
  display: flex;
  flex-direction: column;
}

.form_input_icon {
  position: relative;
}

.form_input {
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  height: 40px;
  width: 448px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border-radius: 4px;
  transition: border-color var(--time_animation);
}

.form_icon {
  position: absolute;
  left: 12px;
  top: 13px;
  fill: var(--color-black);
  transition: fill var(--time_animation);
}
.form_input:hover,
.form_input:focus,
.form_input_icon:hover svg,
.form_input_icon:focus-within svg {
  cursor: pointer;
  border-color: var(--color-blu);
  fill: var(--color-blu);
}

.form_label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-gray);
  margin-bottom: 4px;
}

.form_frame_comment {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--time_animation);
}

.form_frame_comment:hover,
.form_frame_comment:focus {
  cursor: pointer;
  border-color: var(--color-blu);
}

.form_frame_comment::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form_contract_row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-gray);
  margin-left: 8.5px;
  margin-right: 4px;
}
/* 
.form_contract_row.label:checked {
  background-color: var(--color-blu);
}
.checkbox_icon:checked {
  background-color: var(--color-blu);
} */
.form_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_checkbox_icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-width: 2px;
  border-color: var(--color-black);
  border-radius: 4px;
  background-color: var(--color-wight);
  transition: background-color var(--time_animation);
  transition: border-color var(--time_animation);
}

/* .checkbox:checked + .checkbox_icon {
  background-color: var(--color-blu);
} */

.form_consent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-gray);
  margin-left: 8.5px;
  margin-right: 4px;
}

.form_contract {
  /* display: flex;
  align-items: flex-start;
  justify-content: center; */
  text-decoration-line: underline;
  color: var(--color-blu);
}

.form_button_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-blu);
  color: var(--color-wight);
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.form_button_submit:focus,
.form_button_submit:hover {
  cursor: pointer;
}
